<?php
// @codingStandardsIgnoreFile

?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php echo $block->escapeHtml(__('Step 1: Composer Authentication')) ?></strong></div>
    <div class="block-content">
        <p>
            To start using Composer, you need to authenticate yourself once.<br />
            You don't need to do this after every purchase, just after the very first purchase you make from us.<br />

            <pre>
composer config --global --auth http-basic.<?php echo $block->getVendorHost() ?> token <?php echo $block->getVendorToken() ?>

composer config repositories.<?php echo $block->getVendorUrlName() ?> composer <?php echo $block->getVendorUrl() ?>
            </pre>
        </p>
    </div>

    <?php if(count($block->getPackages()) == 0) : ?>
    <br />
        <div class="block-title"><strong><?php echo $block->escapeHtml(__('No active extensions')) ?></strong></div>
        <div class="block-content">
            <p>
                You currently have no active extensions which you can install via Composer.<br />
                If you think this is an error, please contact us and we'll sort it out for you.
            </p>
        </div>
    <?php else : ?>
        <?php foreach($block->getPackages() as $package) : ?>
            <br />
            <div class="block-title" style="margin-bottom: 0px;"><strong><?php echo $block->escapeHtml(__('Extension: ' . $package['name'])) ?></strong></div>
            <div class="block-content">
                <p>
                    <?php $versions = $block->getVersions($package['name']); ?>
                    <?php $latestVersion = (count($versions) > 0) ? '~' . $versions[0] : 'dev-master'; ?>

                <pre>
composer require <?php echo $package['name'] ?>:<?php echo $latestVersion ?>
                </pre>

                <h3>Available Versions:</h3>
                dev-master, <?php echo implode(', ', $versions); ?>
                </p>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>
