.block-composer-info {
    .packagist-info-composer-name {
        font-style: italic;

        .label {
            font-weight: bold;
            font-style: normal;
        }
    }

    .packagist-info-composer-version {
        font-style: italic;
        text-align: right;

        .label {
            font-weight: bold;
            font-style: normal;
        }
    }
}
